In [20]:
import pandas as pd 
import sqlite3
import os 
import matplotlib.pyplot as plt
from pathlib import Path 


# Getting Parent Directory 
PROJECT_ROOT = Path.cwd().parent

# Loading Data and creating database 
daily = str(PROJECT_ROOT/'data'/'raw'/'worldometer_coronavirus_daily_data.csv')
db_path = 'covid.db'

df_daily = pd.read_csv(daily)

print(df_daily.isna().sum())

conn = sqlite3.connect(db_path)

# Loading into SQL 
df_daily.to_sql(name='covid_cases', con=conn, if_exists='replace', index=False)

query = """
SELECT *
FROM covid_cases
WHERE country == 'USA'
"""
df = pd.read_sql(query, conn)

conn.close

df

date                           0
country                        0
cumulative_total_cases         0
daily_new_cases            10458
active_cases               18040
cumulative_total_deaths     6560
daily_new_deaths           26937
dtype: int64

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,USA,15.0,NaN,12.0,0.0,NaN
1,2020-2-16,USA,15.0,0.0,12.0,0.0,NaN
2,2020-2-17,USA,15.0,0.0,12.0,0.0,NaN
3,2020-2-18,USA,15.0,0.0,12.0,0.0,NaN
4,2020-2-19,USA,15.0,0.0,12.0,0.0,NaN
...,...,...,...,...,...,...,...
815,2022-5-10,USA,83895556.0,85415.0,1802388.0,1025701.0,392.0
816,2022-5-11,USA,83994864.0,99308.0,1853628.0,1026020.0,319.0
817,2022-5-12,USA,84093964.0,99100.0,1903966.0,1026309.0,289.0
818,2022-5-13,USA,84182733.0,88769.0,1949109.0,1026591.0,282.0
819,2022-5-14,USA,84209473.0,26740.0,1938567.0,1026646.0,55.0