In [1]:
import pandas as pd 
import sqlite3
import os 
import matplotlib.pyplot as plt
from pathlib import Path 


# Getting Parent Directory 
PROJECT_ROOT = Path.cwd().parent

# Loading Data and creating database 
daily = str(PROJECT_ROOT/'data'/'raw'/'worldometer_coronavirus_daily_data.csv')
db_path = 'covid.db'

df_daily = pd.read_csv(daily)

print(df_daily.isna().sum())

conn = sqlite3.connect(db_path)

# Loading into SQL 
df_daily.to_sql(name='covid_cases', con=conn, if_exists='replace', index=False)

query = """
SELECT * 
FROM covid_cases
WHERE country = 'China'
"""
test_df = pd.read_sql(query, conn)

conn.close

test_df

date                           0
country                        0
cumulative_total_cases         0
daily_new_cases            10458
active_cases               18040
cumulative_total_deaths     6560
daily_new_deaths           26937
dtype: int64

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-1-22,China,571.0,NaN,554.0,17.0,NaN
1,2020-1-23,China,830.0,259.0,771.0,25.0,8.0
2,2020-1-24,China,1287.0,457.0,1208.0,41.0,16.0
3,2020-1-25,China,1975.0,688.0,1870.0,56.0,15.0
4,2020-1-26,China,2744.0,769.0,2613.0,80.0,24.0
...,...,...,...,...,...,...,...
839,2022-5-10,China,220397.0,357.0,8068.0,5191.0,6.0
840,2022-5-11,China,220721.0,324.0,7568.0,5198.0,7.0
841,2022-5-12,China,220958.0,237.0,7229.0,5203.0,5.0
842,2022-5-13,China,221289.0,331.0,6944.0,5205.0,2.0
843,2022-5-14,China,221565.0,276.0,6353.0,5206.0,1.0